nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    background-color: #242424;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav h2 {
    color: white;
}